In [58]:
import pandas as pd 

dust=fine_dust_00=pd.read_csv('fine dust_00.csv')
rain=pd.read_csv('heavy rain_00.csv')
fire1=pd.read_csv('fire_00.csv')
fire2=pd.read_csv('disaster_alert_01.csv')
fire=pd.concat([fire1,fire2],ignore_index=True)
wave=pd.read_csv('heat wave_00.csv')
jaenan01=pd.read_csv('jaenan_1.csv')
jaenan02=pd.read_csv('jaenan_002.csv')
jaenan03=pd.read_csv('jaenan_003.csv')
jaenan04=pd.read_csv('jaenan_004.csv')
jaenan05=pd.read_csv('jaenan_005.csv')
jaenan06=pd.read_csv('jaenan_006.csv')
jaenan07=pd.read_csv('jaenan_007.csv')
jaenan08=pd.read_csv('jaenan_008.csv')
jaenan09=pd.read_csv('jaenan_009.csv')
jaenan10=pd.read_csv('jaenan_010.csv')
jaenan=pd.concat([jaenan01,jaenan02,jaenan03],ignore_index=True)
jaenan=pd.concat([jaenan,jaenan04,jaenan05,jaenan06,jaenan07,jaenan08,jaenan09,jaenan10],ignore_index=True)

In [59]:
jaenan11=pd.read_csv('jaenan_100.csv')
jaenan12=pd.read_csv('jaenan_200.csv')
jaenan13=pd.read_csv('jaenan_300.csv')
jaenan14=pd.read_csv('jaenan_400.csv')
jaenan15=pd.read_csv('jaenan_500.csv')
jaenan16=pd.read_csv('jaenan_600.csv')
jaenan17=pd.read_csv('jaenan_700.csv')
jaenan18=pd.read_csv('jaenan_800.csv')
jaenan19=pd.read_csv('jaenan_900.csv')
jaenan20=pd.read_csv('jaenan_1000.csv')
jaenan_1=pd.concat([jaenan11,jaenan12,jaenan13,jaenan14,jaenan15,jaenan16,jaenan17,jaenan18,jaenan19,jaenan20],ignore_index=True)

In [60]:
multipledisaster1=pd.read_csv('multipledisaster_01.csv')
multipledisaster2=pd.read_csv('multipledisaster_02.csv')
multipledisaster3=pd.read_csv('multipledisaster_03.csv')
multipledisaster4=pd.read_csv('multipledisaster_04.csv')
multipledisaster5=pd.read_csv('multipledisaster_05.csv')
multipledisaster6=pd.read_csv('multipledisaster_06.csv')
multipledisaster7=pd.read_csv('multipledisaster_07.csv')
multipledisaster8=pd.read_csv('multipledisaster_08.csv')
multipledisaster9=pd.read_csv('multipledisaster_09.csv')
multipledisaster10=pd.read_csv('multipledisaster_10.csv')
multipledisaster=pd.concat([multipledisaster1,multipledisaster2,multipledisaster3,multipledisaster4,multipledisaster5,multipledisaster6,multipledisaster7,multipledisaster8,multipledisaster9,multipledisaster10],ignore_index=True)

In [61]:
cw1=pd.read_csv('cw_1_101.csv')
cw2=pd.read_csv('cw_101_201.csv')
cw3=pd.read_csv('cw_201_301.csv')
cw4=pd.read_csv('cw_301_401.csv')
cw5=pd.read_csv('cw_401_501.csv')
cw6=pd.read_csv('cw_501_601.csv')
cw7=pd.read_csv('cw_601_701.csv')
cw8=pd.read_csv('cw_701_801.csv')
cw9=pd.read_csv('cw_801_901.csv')
cw=pd.concat([cw1,cw2,cw3,cw4,cw5,cw6,cw7,cw8,cw9],ignore_index=True)

In [62]:
jaenan_1.head()

,Unnamed: 0,text,likey,retweet
0,0,1557293678460227584,RT @cherrybullet: [Notice] 체리블렛 인스타그램 오픈❣\n\n#...,2022-08-10 09:12:00
1,1,1557293678255042563,RT @hds_earth: 얼마 전 엄마가 빌라 마당에서 낯선 성인남자가 차 밑에 ...,2022-08-10 09:12:00
2,2,1557293676799590400,RT @luxon51: 왜 이렇게 무리해서 건너나 찾아봤는데 여기가 막히면 완전히 ...,2022-08-10 09:12:00
3,3,1557293674899591168,RT @BPM_HSW: [#하성운] 📢 \n\n하성운과 함께하는 블랭크톡🤍\n\n성...,2022-08-10 09:11:59
4,4,1557293674773774336,RT @ATEEZofficial: [📢] ATINY는 우영이를 생각하면 \n어떤 사...,2022-08-10 09:11:59

In [63]:
multipledisaster.head()

,Unnamed: 0,text,likey,retweet
0,0,1557454720943370240,9월에 캘포 가요~ 혹시 탐라에 켈포 분 계신가용??\n부스 참가라 못돌아다닐 줄 ...,2022-08-10 19:51:56
1,1,1557454720045764608,RT @Echae_enroute: 살던 사람은 알아서 나가라는 거고 또 인센티브랑 ...,2022-08-10 19:51:56
2,2,1557454716237258752,RT @0cha_jj: 트위터에서 보고 '진짜 게으른 사람이 쓴 게으름 탈출법' 이...,2022-08-10 19:51:55
3,3,1557454716082089985,@5_SANG_52_ 진짜요...ㅠㅠ 제 통장에 돈이 없어서 다행이지 돈 잇엇으면 ...,2022-08-10 19:51:55
4,4,1557454709547356160,"RT @ll0_0llsb: #RT #이벤트 \n\n🎉곧 돌아오는 ""리다님과 나비님""...",2022-08-10 19:51:53

In [64]:
cw.head()

,Unnamed: 0,text,likey,retweet
0,0,1557369023477587969,RT @kmk7405hanmail1: 사진은 오늘 현재 코로나 일일 확진자 현황이다...,2022-08-10 14:11:24+00:00
1,1,1557369012123619329,RT @hanitweet: ①공기 빠지는 소리 \n②뚜껑 요동칠 때 즉시 대피\n③...,2022-08-10 14:11:21+00:00
2,2,1557369004984979461,RT @redditioon: BBC코리아의 뉴스 큐레이션은 굉장히 인상적. 폭우에 ...,2022-08-10 14:11:19+00:00
3,3,1557369003667951619,"RT @dlklee: 폭우 속에서도 골목 쓰레기는 수거되었고, 우편물과 택배가 왔고...",2022-08-10 14:11:19+00:00
4,4,1557369003458252801,RT @flf_sadam: ㅇㅣ날 대ㅐㅐ폭우와서 앞에 진짜 엄청엄청 미끄러지면서들 ...,2022-08-10 14:11:19+00:00

# 전처리

In [65]:
rain.head()

,Unnamed: 0,ID,Text,Date
0,0,1556930545279373312,RT @saiph1324: 방금 뉴스에서 봤는데 원래 이 시기에는 북태평양 고기압이...,2022-08-09 09:09:03
1,1,1556930541655851010,"RT @Siaranics: ""밤에 폭우가 올 줄 어떻게 알고 시장이 퇴근도 못하냐!...",2022-08-09 09:09:02
2,2,1556930540674039810,RT @JirimKwan0_0: 우면산에서 또 쏟아진 토사..제보로 본 폭우 피해 ...,2022-08-09 09:09:01
3,3,1556930538304184321,RT @happywom: 나 방금전 뭘 본거임?😱😱😱\n어젯밤 폭우로 관악구 세가족...,2022-08-09 09:09:01
4,4,1556930537981239296,RT @dj__the__kid: 어제 같은 폭우가 쏟아질때 대응 가능한 치수 시스템...,2022-08-09 09:09:01

In [66]:
fire.head()

,Unnamed: 0,ID,Text,Date
0,0,1556991811700240384,서울 되련님들도 뭣같고 오세이돈도 뭣같고 지옥런한 새끼도 뭣같고 산불 안보러간다고 ...,2022-08-09 13:12:30
1,1,1556991703256821761,RT @anna12285: @babylion0505 @free351 지겹게 이어지던...,2022-08-09 13:12:04
2,2,1556991657337552896,RT @envsha: 이번주 뉴스만 해도\n- 파키스탄 지난 5주간 폭우로 282명...,2022-08-09 13:11:53
3,3,1556991610772402176,RT @c2bwsjuhmEW3tbX: 이상 이천화재로 사람죽어갈때 경기도지사랑 떡볶...,2022-08-09 13:11:42
4,4,1556991592782737410,"RT @ulttung: 재난에 닥치니 진짜 문재인대통령, 이낙연 총리님시절이 그리워...",2022-08-09 13:11:37

In [67]:
wave.head()

,Unnamed: 0,ID,Text,Date
0,0,1556940532907053057,"밑은 또 폭염경보구나,, 진짜 중간이없네 https://t.co/iaSyubf5b0",2022-08-09 09:48:44
1,1,1556940455199182848,@JYHeffect 내가 있는곳은 폭염이야.\n용화도 비 조심해!!,2022-08-09 09:48:25
2,2,1556940450598387714,폭염과 다습한 날씨가 이어가니 바질은 전멸인데 고무나무랑 아보카도는 생생하네.,2022-08-09 09:48:24
3,3,1556940167998767105,@Dadenng 폭염은 괜찮으신가요..?,2022-08-09 09:47:17
4,4,1556940106824425473,@JYHeffect 여긴 폭염 경보... 다들 비 조심하세요!!,2022-08-09 09:47:02

In [68]:
jaenan.head()

,Unnamed: 0,text,likey,retweet
0,0,1556917345381392385,"RT @loveaselin: 게임 ""가디언 테일즈"" 개발사 콩스튜디오 사무실이 이번...",2022-08-09 08:16:35
1,1,1556917343607201792,RT @adhoclala: 국가 재난상황에서 관저에서 숨어있던 대통령과 폭우가 내림...,2022-08-09 08:16:35
2,2,1556917342105632768,RT @irri12: 대선 때 언론과 국민들 반이 대체 무슨 짓을 한건지 조금이라도...,2022-08-09 08:16:35
3,3,1556917332869492736,RT @nifos_news: 산사태 위기경보 '경계'로 상향🔔\n\n이례적인 폭우 ...,2022-08-09 08:16:32
4,4,1556917330222862337,RT @ulttung: 이 물난리가 났는데 고립되서 나오질 못해 와중에 대책없이 폭...,2022-08-09 08:16:32

In [69]:
fine_dust_00.head()

,Unnamed: 0,ID,Text,Date
0,0,1556968932472279040,RT @MlikSbunny: 하미친존나기여우어엉\n휴닝카이 열심히 미세먼지 외치는 ...,2022-08-09 11:41:35
1,1,1556968707900903424,RT @MlikSbunny: 하미친존나기여우어엉\n휴닝카이 열심히 미세먼지 외치는 ...,2022-08-09 11:40:41
2,2,1556967322463571968,RT @retta2357: 영화 기생충에서 송강호네가 폭우로 침수된 다음날 조여정이...,2022-08-09 11:35:11
3,3,1556966388048470016,RT @MlikSbunny: 하미친존나기여우어엉\n휴닝카이 열심히 미세먼지 외치는 ...,2022-08-09 11:31:28
4,4,1556965124375601152,RT @MlikSbunny: 하미친존나기여우어엉\n휴닝카이 열심히 미세먼지 외치는 ...,2022-08-09 11:26:27

In [70]:
len(rain)

7485

In [71]:
len(wave)

7485

In [72]:
len(fire)

14970

In [73]:
len(jaenan)

7350

In [74]:
len(fine_dust_00)

7485

## Key 추가

In [75]:
rain.head()

,Unnamed: 0,ID,Text,Date
0,0,1556930545279373312,RT @saiph1324: 방금 뉴스에서 봤는데 원래 이 시기에는 북태평양 고기압이...,2022-08-09 09:09:03
1,1,1556930541655851010,"RT @Siaranics: ""밤에 폭우가 올 줄 어떻게 알고 시장이 퇴근도 못하냐!...",2022-08-09 09:09:02
2,2,1556930540674039810,RT @JirimKwan0_0: 우면산에서 또 쏟아진 토사..제보로 본 폭우 피해 ...,2022-08-09 09:09:01
3,3,1556930538304184321,RT @happywom: 나 방금전 뭘 본거임?😱😱😱\n어젯밤 폭우로 관악구 세가족...,2022-08-09 09:09:01
4,4,1556930537981239296,RT @dj__the__kid: 어제 같은 폭우가 쏟아질때 대응 가능한 치수 시스템...,2022-08-09 09:09:01

In [76]:
rain['Key']='폭우'
rain.head()

,Unnamed: 0,ID,Text,Date,Key
0,0,1556930545279373312,RT @saiph1324: 방금 뉴스에서 봤는데 원래 이 시기에는 북태평양 고기압이...,2022-08-09 09:09:03,폭우
1,1,1556930541655851010,"RT @Siaranics: ""밤에 폭우가 올 줄 어떻게 알고 시장이 퇴근도 못하냐!...",2022-08-09 09:09:02,폭우
2,2,1556930540674039810,RT @JirimKwan0_0: 우면산에서 또 쏟아진 토사..제보로 본 폭우 피해 ...,2022-08-09 09:09:01,폭우
3,3,1556930538304184321,RT @happywom: 나 방금전 뭘 본거임?😱😱😱\n어젯밤 폭우로 관악구 세가족...,2022-08-09 09:09:01,폭우
4,4,1556930537981239296,RT @dj__the__kid: 어제 같은 폭우가 쏟아질때 대응 가능한 치수 시스템...,2022-08-09 09:09:01,폭우

In [77]:
fire['Key']='산불 or 화재'
fire.head()

,Unnamed: 0,ID,Text,Date,Key
0,0,1556991811700240384,서울 되련님들도 뭣같고 오세이돈도 뭣같고 지옥런한 새끼도 뭣같고 산불 안보러간다고 ...,2022-08-09 13:12:30,산불 or 화재
1,1,1556991703256821761,RT @anna12285: @babylion0505 @free351 지겹게 이어지던...,2022-08-09 13:12:04,산불 or 화재
2,2,1556991657337552896,RT @envsha: 이번주 뉴스만 해도\n- 파키스탄 지난 5주간 폭우로 282명...,2022-08-09 13:11:53,산불 or 화재
3,3,1556991610772402176,RT @c2bwsjuhmEW3tbX: 이상 이천화재로 사람죽어갈때 경기도지사랑 떡볶...,2022-08-09 13:11:42,산불 or 화재
4,4,1556991592782737410,"RT @ulttung: 재난에 닥치니 진짜 문재인대통령, 이낙연 총리님시절이 그리워...",2022-08-09 13:11:37,산불 or 화재

In [78]:
wave['Key']='폭염'
wave.head()

,Unnamed: 0,ID,Text,Date,Key
0,0,1556940532907053057,"밑은 또 폭염경보구나,, 진짜 중간이없네 https://t.co/iaSyubf5b0",2022-08-09 09:48:44,폭염
1,1,1556940455199182848,@JYHeffect 내가 있는곳은 폭염이야.\n용화도 비 조심해!!,2022-08-09 09:48:25,폭염
2,2,1556940450598387714,폭염과 다습한 날씨가 이어가니 바질은 전멸인데 고무나무랑 아보카도는 생생하네.,2022-08-09 09:48:24,폭염
3,3,1556940167998767105,@Dadenng 폭염은 괜찮으신가요..?,2022-08-09 09:47:17,폭염
4,4,1556940106824425473,@JYHeffect 여긴 폭염 경보... 다들 비 조심하세요!!,2022-08-09 09:47:02,폭염

In [79]:
dust['Key']='미세먼지'
dust.head()

,Unnamed: 0,ID,Text,Date,Key
0,0,1556968932472279040,RT @MlikSbunny: 하미친존나기여우어엉\n휴닝카이 열심히 미세먼지 외치는 ...,2022-08-09 11:41:35,미세먼지
1,1,1556968707900903424,RT @MlikSbunny: 하미친존나기여우어엉\n휴닝카이 열심히 미세먼지 외치는 ...,2022-08-09 11:40:41,미세먼지
2,2,1556967322463571968,RT @retta2357: 영화 기생충에서 송강호네가 폭우로 침수된 다음날 조여정이...,2022-08-09 11:35:11,미세먼지
3,3,1556966388048470016,RT @MlikSbunny: 하미친존나기여우어엉\n휴닝카이 열심히 미세먼지 외치는 ...,2022-08-09 11:31:28,미세먼지
4,4,1556965124375601152,RT @MlikSbunny: 하미친존나기여우어엉\n휴닝카이 열심히 미세먼지 외치는 ...,2022-08-09 11:26:27,미세먼지

In [80]:
jaenan['Key']='기타'
jaenan.head()

,Unnamed: 0,text,likey,retweet,Key
0,0,1556917345381392385,"RT @loveaselin: 게임 ""가디언 테일즈"" 개발사 콩스튜디오 사무실이 이번...",2022-08-09 08:16:35,기타
1,1,1556917343607201792,RT @adhoclala: 국가 재난상황에서 관저에서 숨어있던 대통령과 폭우가 내림...,2022-08-09 08:16:35,기타
2,2,1556917342105632768,RT @irri12: 대선 때 언론과 국민들 반이 대체 무슨 짓을 한건지 조금이라도...,2022-08-09 08:16:35,기타
3,3,1556917332869492736,RT @nifos_news: 산사태 위기경보 '경계'로 상향🔔\n\n이례적인 폭우 ...,2022-08-09 08:16:32,기타
4,4,1556917330222862337,RT @ulttung: 이 물난리가 났는데 고립되서 나오질 못해 와중에 대책없이 폭...,2022-08-09 08:16:32,기타

In [81]:
jaenan_1['Key']='기타'
jaenan_1.head()

,Unnamed: 0,text,likey,retweet,Key
0,0,1557293678460227584,RT @cherrybullet: [Notice] 체리블렛 인스타그램 오픈❣\n\n#...,2022-08-10 09:12:00,기타
1,1,1557293678255042563,RT @hds_earth: 얼마 전 엄마가 빌라 마당에서 낯선 성인남자가 차 밑에 ...,2022-08-10 09:12:00,기타
2,2,1557293676799590400,RT @luxon51: 왜 이렇게 무리해서 건너나 찾아봤는데 여기가 막히면 완전히 ...,2022-08-10 09:12:00,기타
3,3,1557293674899591168,RT @BPM_HSW: [#하성운] 📢 \n\n하성운과 함께하는 블랭크톡🤍\n\n성...,2022-08-10 09:11:59,기타
4,4,1557293674773774336,RT @ATEEZofficial: [📢] ATINY는 우영이를 생각하면 \n어떤 사...,2022-08-10 09:11:59,기타

In [82]:
cw['Key']='미세먼지or폭우'
cw.head()

,Unnamed: 0,text,likey,retweet,Key
0,0,1557369023477587969,RT @kmk7405hanmail1: 사진은 오늘 현재 코로나 일일 확진자 현황이다...,2022-08-10 14:11:24+00:00,미세먼지or폭우
1,1,1557369012123619329,RT @hanitweet: ①공기 빠지는 소리 \n②뚜껑 요동칠 때 즉시 대피\n③...,2022-08-10 14:11:21+00:00,미세먼지or폭우
2,2,1557369004984979461,RT @redditioon: BBC코리아의 뉴스 큐레이션은 굉장히 인상적. 폭우에 ...,2022-08-10 14:11:19+00:00,미세먼지or폭우
3,3,1557369003667951619,"RT @dlklee: 폭우 속에서도 골목 쓰레기는 수거되었고, 우편물과 택배가 왔고...",2022-08-10 14:11:19+00:00,미세먼지or폭우
4,4,1557369003458252801,RT @flf_sadam: ㅇㅣ날 대ㅐㅐ폭우와서 앞에 진짜 엄청엄청 미끄러지면서들 ...,2022-08-10 14:11:19+00:00,미세먼지or폭우

In [83]:
multipledisaster['Key']='폭염or열대야'
multipledisaster.head()

,Unnamed: 0,text,likey,retweet,Key
0,0,1557454720943370240,9월에 캘포 가요~ 혹시 탐라에 켈포 분 계신가용??\n부스 참가라 못돌아다닐 줄 ...,2022-08-10 19:51:56,폭염or열대야
1,1,1557454720045764608,RT @Echae_enroute: 살던 사람은 알아서 나가라는 거고 또 인센티브랑 ...,2022-08-10 19:51:56,폭염or열대야
2,2,1557454716237258752,RT @0cha_jj: 트위터에서 보고 '진짜 게으른 사람이 쓴 게으름 탈출법' 이...,2022-08-10 19:51:55,폭염or열대야
3,3,1557454716082089985,@5_SANG_52_ 진짜요...ㅠㅠ 제 통장에 돈이 없어서 다행이지 돈 잇엇으면 ...,2022-08-10 19:51:55,폭염or열대야
4,4,1557454709547356160,"RT @ll0_0llsb: #RT #이벤트 \n\n🎉곧 돌아오는 ""리다님과 나비님""...",2022-08-10 19:51:53,폭염or열대야

In [84]:
jaenan.rename(columns={'text':'ID'},inplace=True)
jaenan.rename(columns={'likey':'Text'},inplace=True)
jaenan.rename(columns={'retweet':'Date'},inplace=True)

In [85]:
jaenan_1.rename(columns={'text':'ID'},inplace=True)
jaenan_1.rename(columns={'likey':'Text'},inplace=True)
jaenan_1.rename(columns={'retweet':'Date'},inplace=True)

In [86]:
cw.rename(columns={'text':'ID'},inplace=True)
cw.rename(columns={'likey':'Text'},inplace=True)
cw.rename(columns={'retweet':'Date'},inplace=True)

In [87]:
multipledisaster.rename(columns={'text':'ID'},inplace=True)
multipledisaster.rename(columns={'likey':'Text'},inplace=True)
multipledisaster.rename(columns={'retweet':'Date'},inplace=True)

In [88]:
jaenan.head()

,Unnamed: 0,ID,Text,Date,Key
0,0,1556917345381392385,"RT @loveaselin: 게임 ""가디언 테일즈"" 개발사 콩스튜디오 사무실이 이번...",2022-08-09 08:16:35,기타
1,1,1556917343607201792,RT @adhoclala: 국가 재난상황에서 관저에서 숨어있던 대통령과 폭우가 내림...,2022-08-09 08:16:35,기타
2,2,1556917342105632768,RT @irri12: 대선 때 언론과 국민들 반이 대체 무슨 짓을 한건지 조금이라도...,2022-08-09 08:16:35,기타
3,3,1556917332869492736,RT @nifos_news: 산사태 위기경보 '경계'로 상향🔔\n\n이례적인 폭우 ...,2022-08-09 08:16:32,기타
4,4,1556917330222862337,RT @ulttung: 이 물난리가 났는데 고립되서 나오질 못해 와중에 대책없이 폭...,2022-08-09 08:16:32,기타

In [89]:
jaenan.tail()

,Unnamed: 0,ID,Text,Date,Key
7345,730,1556990792694018049,RT @yoji0802: 정말 대통령실 통째로 개판이구나! 대가리 제대로 된 놈이 ...,2022-08-09 13:08:27+00:00,기타
7346,731,1556990769608568832,RT @qkddbfehcl: 이게 얼마나 큰 일이냐면...정작 비가 내려야하는 농촌...,2022-08-09 13:08:21+00:00,기타
7347,732,1556990761660723202,RT @mediatodaynews: [영상] ‘대통령 호우 대처 아쉬운 점’ 묻자 ...,2022-08-09 13:08:19+00:00,기타
7348,733,1556990758590517248,RT @hanu_jjba: 저희 어머니도 강원도 사시는데 출근길에 큰 소리가 나서 ...,2022-08-09 13:08:18+00:00,기타
7349,734,1556990752210579458,RT @yonhaptweet: [속보] 서울 노원구 상계·중계동 산사태 경보 발령 ...,2022-08-09 13:08:17+00:00,기타

In [90]:
jaenan.duplicated(['Text']).sum()

7241

# 데이터 통합 및 처리

In [91]:
df=pd.concat([fire,wave,fire,dust,jaenan,multipledisaster,cw,jaenan_1],ignore_index=True)

In [92]:
df.head()

,Unnamed: 0,ID,Text,Date,Key
0,0,1556991811700240384,서울 되련님들도 뭣같고 오세이돈도 뭣같고 지옥런한 새끼도 뭣같고 산불 안보러간다고 ...,2022-08-09 13:12:30,산불 or 화재
1,1,1556991703256821761,RT @anna12285: @babylion0505 @free351 지겹게 이어지던...,2022-08-09 13:12:04,산불 or 화재
2,2,1556991657337552896,RT @envsha: 이번주 뉴스만 해도\n- 파키스탄 지난 5주간 폭우로 282명...,2022-08-09 13:11:53,산불 or 화재
3,3,1556991610772402176,RT @c2bwsjuhmEW3tbX: 이상 이천화재로 사람죽어갈때 경기도지사랑 떡볶...,2022-08-09 13:11:42,산불 or 화재
4,4,1556991592782737410,"RT @ulttung: 재난에 닥치니 진짜 문재인대통령, 이낙연 총리님시절이 그리워...",2022-08-09 13:11:37,산불 or 화재

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95460 entries, 0 to 95459
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  95460 non-null  int64
 1   ID          95460 non-null  int64
 2   Text        95460 non-null  object
 3   Date        95460 non-null  object
 4   Key         95460 non-null  object
dtypes: int64(2), object(3)
memory usage: 3.6+ MB

In [94]:
df.isnull().sum()

Unnamed: 0    0
ID            0
Text          0
Date          0
Key           0
dtype: int64

In [95]:
df.duplicated(['Text']).sum()

94631

In [96]:
df['duplicates'] = df.groupby('Text')['Text'].transform('count')
df.head()

,Unnamed: 0,ID,Text,Date,Key,duplicates
0,0,1556991811700240384,서울 되련님들도 뭣같고 오세이돈도 뭣같고 지옥런한 새끼도 뭣같고 산불 안보러간다고 ...,2022-08-09 13:12:30,산불 or 화재,360
1,1,1556991703256821761,RT @anna12285: @babylion0505 @free351 지겹게 이어지던...,2022-08-09 13:12:04,산불 or 화재,360
2,2,1556991657337552896,RT @envsha: 이번주 뉴스만 해도\n- 파키스탄 지난 5주간 폭우로 282명...,2022-08-09 13:11:53,산불 or 화재,360
3,3,1556991610772402176,RT @c2bwsjuhmEW3tbX: 이상 이천화재로 사람죽어갈때 경기도지사랑 떡볶...,2022-08-09 13:11:42,산불 or 화재,1614
4,4,1556991592782737410,"RT @ulttung: 재난에 닥치니 진짜 문재인대통령, 이낙연 총리님시절이 그리워...",2022-08-09 13:11:37,산불 or 화재,638

In [97]:
df['Text'][1]

'RT @anna12285: @babylion0505 @free351 지겹게 이어지던 산불.\n기억속에 가득하다'

In [98]:
df[df['Text']=='RT @anna12285: @babylion0505 @free351 지겹게 이어지던 산불.\n기억속에 가득하다']

,Unnamed: 0,ID,Text,Date,Key,duplicates
1,1,1556991703256821761,RT @anna12285: @babylion0505 @free351 지겹게 이어지던...,2022-08-09 13:12:04,산불 or 화재,360
16,16,1556991703256821761,RT @anna12285: @babylion0505 @free351 지겹게 이어지던...,2022-08-09 13:12:04,산불 or 화재,360
31,31,1556991703256821761,RT @anna12285: @babylion0505 @free351 지겹게 이어지던...,2022-08-09 13:12:04,산불 or 화재,360
46,46,1556991703256821761,RT @anna12285: @babylion0505 @free351 지겹게 이어지던...,2022-08-09 13:12:04,산불 or 화재,360
61,61,1556991703256821761,RT @anna12285: @babylion0505 @free351 지겹게 이어지던...,2022-08-09 13:12:04,산불 or 화재,360
...,...,...,...,...,...,...
25083,2628,1556991703256821761,RT @anna12285: @babylion0505 @free351 지겹게 이어지던...,2022-08-09 13:12:04,산불 or 화재,360
25098,2643,1556991703256821761,RT @anna12285: @babylion0505 @free351 지겹게 이어지던...,2022-08-09 13:12:04,산불 or 화재,360
25113,2658,1556991703256821761,RT @anna12285: @babylion0505 @free351 지겹게 이어지던...,2022-08-09 13:12:04,산불 or 화재,360
25128,2673,1556991703256821761,RT @anna12285: @babylion0505 @free351 지겹게 이어지던...,2022-08-09 13:12:04,산불 or 화재,360
25143,2688,1556991703256821761,RT @anna12285: @babylion0505 @free351 지겹게 이어지던...,2022-08-09 13:12:04,산불 or 화재,360

In [99]:
df_nodup=df.drop_duplicates(['Text'])

In [100]:
df_nodup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 829 entries, 0 to 95414
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  829 non-null    int64
 1   ID          829 non-null    int64
 2   Text        829 non-null    object
 3   Date        829 non-null    object
 4   Key         829 non-null    object
 5   duplicates  829 non-null    int64
dtypes: int64(3), object(3)
memory usage: 45.3+ KB

In [101]:
df.to_csv('데이터수집본.csv', encoding='utf-8')

In [102]:
df_nodup.to_csv('데이터수집본(중복없음).csv', encoding='utf-8')

In [103]:
df1=pd.read_csv('데이터수집본.csv')

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95460 entries, 0 to 95459
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  95460 non-null  int64
 1   ID          95460 non-null  int64
 2   Text        95460 non-null  object
 3   Date        95460 non-null  object
 4   Key         95460 non-null  object
 5   duplicates  95460 non-null  int64
dtypes: int64(3), object(3)
memory usage: 4.4+ MB